:root {
    --primery-text-color: #212121;
    --second-text-color: #757575;
    --primary-title-color: #ffffff; 
    --accent-color: #2196F3;
    --button-color-dark: #f5faf4;
}

body {
    font-family: 'Roboto', sans-serif;
    background:var(--primary-title-color);
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.btn-light{
    background:var(--accent-color);
    color:var(--primary-title-color);
}

.btn-dark{
    background: var(--button-color-dark);
    color: var(--primary-text-color);
}


/* ------------header------------ */


/* ------------logo------------ */

.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo span{
    color: var(--primery-text-color);
}

.logo-black{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-black span{
    color: var(--primary-title-color);
}

.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color)
}

.header-mail{
    font-synthesis: none;
}

.header-mail:hover, .header-mail:focus{
    color: var(--accent-color);
}

.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-text-color);
}

.header-tel{
    font-synthesis: none;
}

/* -------main-------- */

.section-background{
    background-color: #2F303A;
}

.section-titl{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:var(--primary-title-color);
}


/* -------button------- */

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.menu-link:hover, .menu-link:focus{
    color: var(--accent-color);
}

.link:active{
    background-color: var(--accent-color);
}

.btn{
    cursor: pointer;
}

.btn{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    letter-spacing: 0.06em;
}

.btn:focus, .btn:hover{
   background-color: var(--accent-color);
}

.chapter-features{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primery-text-color) 
}

.about-features{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.bout-iteam{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.about-iteam-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--primery-text-color);
}

.about-iteam-skills{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* -------address-------- */

.address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    font-synthesis:none;
}